# Setup

In [ ]:

from pathlib import Path
import os
import pprint
import pandas as pd
import pygwalker as pyg
import dabl

import sys
from pathlib import Path
#### For Path setup
def setup_project_path():
    """프로젝트 루트 경로를 찾아서 파이썬 경로에 추가"""
    current = Path.cwd()
    while current != current.parent:
        if (current / '.git').exists():
            if str(current) not in sys.path:
                sys.path.append(str(current))
                print(f'Project root found: {current}')
            return current
        current = current.parent
    return None

# 프로젝트 경로 설정
project_root = setup_project_path()
if project_root is None:
    # 프로젝트 루트를 찾지 못했다면 직접 지정
    project_root = Path("D:/dev/upstageailab5-ml-regression-ml_r4")
    if str(project_root) not in sys.path:
        sys.path.append(str(project_root))

#jupyter nbextension enable --py widgetsnbextension

import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

from src.logger import Logger
from src.preprocessing import DataPrep
from src.eda import EDA
from src.feature import FeatureEngineer, Clustering, XAI
from src.train import Model
from src.utils import Utils, PathManager
## memory management
import gc
gc.collect()
########################################################################################################################################
logger_instance = Logger()
logger = logger_instance.logger
utils = Utils(logger)
utils.setup_font_and_path_platform()
current_platform = utils.current_platform
#os.environ['PYTHONPATH'] = r'D:\dev\upstageailab5-ml-regression-ml_r4'
current_path = os.path.abspath(os.path.join(os.getcwd(), '..'))
logger.info(f'#### Current workspalce: {current_path}')
if current_platform == 'Windows':
    base_path = Path(r'D:\dev\upstageailab5-ml-regression-ml_r4')
    logger.info(f'{current_platform} platform. Path: {base_path}')
elif current_platform == 'Darwin':          # Mac
    base_path = Path('/data/ephemeral/home/dev/upstageailab5-ml-regression-ml_r4')
    logger.info(f'{current_platform} platform. Path: {base_path}')
else:
    base_path = Path('/data/ephemeral/home/dev/upstageailab5-ml-regression-ml_r4')    # Linux
    logger.info(f'{current_platform} platform. Path: {base_path}')
########################################################################################################################################


########################################################################################################################################
### Data Prep


pm = PathManager(base_path)
pm.config

Project root found: /data/ephemeral/home/dev/upstageailab5-ml-regression-ml_r4

ModuleNotFoundError: No module named 'src.visualization'

In [20]:

#concat = pd.read_csv(os.path.join(prep_path, 'df_baseline.csv'), index_col=0)
# feat_cluster = pd.read_csv(os.path.join(prep_path, 'feat_cluster.csv'), index_col=0)
# feat_transport = pd.read_csv(os.path.join(prep_path, 'feat_transport.csv'), index_col=0)
baseline =pd.read_csv(path_baseline)
auto = pd.read_csv(path_auto)

In [18]:
df=pd.read_csv(os.path.join(prep_path, 'df_null-preped_freq-encoded.csv'))

In [19]:
df.columns

Index(['Unnamed: 0', '시군구', '번지', '본번', '부번', '아파트명', '도로명',
       'k-단지분류(아파트,주상복합등등)', 'k-세대타입(분양형태)', 'k-관리방식', 'k-복도유형', 'k-난방방식',
       'k-건설사(시공사)', 'k-시행사', 'k-사용검사일-사용승인일', 'k-홈페이지', 'k-수정일자', '경비비관리형태',
       '세대전기계약방법', '청소비관리형태', '기타/의무/임대/임의=1/2/3/4', '단지승인일', '사용허가여부',
       '관리비 업로드', '단지신청일', '전용면적', '계약년월', '계약일', '층', '건축년도', 'k-전체동수',
       'k-전체세대수', 'k-연면적', 'k-주거전용면적', 'k-관리비부과면적', 'k-전용면적별세대현황(60㎡이하)',
       'k-전용면적별세대현황(60㎡~85㎡이하)', 'k-85㎡~135㎡이하', '건축면적', '주차대수', '좌표X', '좌표Y',
       'target', 'is_test'],
      dtype='object')

In [24]:
baseline.head()

,번지,본번,부번,아파트명,전용면적,계약일,층,건축년도,도로명,"k-단지분류(아파트,주상복합등등)",...,좌표Y,단지신청일,target,구,동,계약년,계약월,강남여부,신축여부,is_test
0,4710,658.0,1.0,327,79.97,8,3,1987,5906,2,...,37.476763,249,124000.0,0,8,10,11,1,0,0
1,4710,658.0,1.0,327,79.97,22,4,1987,5906,2,...,37.476763,249,123500.0,0,8,10,11,1,0,0
2,4710,658.0,1.0,327,54.98,28,5,1987,5906,2,...,37.476763,249,91500.0,0,8,10,11,1,0,0
3,4710,658.0,1.0,327,79.97,3,4,1987,5906,2,...,37.476763,249,130000.0,0,8,11,0,1,0,0
4,4710,658.0,1.0,327,79.97,8,2,1987,5906,2,...,37.476763,249,117000.0,0,8,11,0,1,0,0

In [23]:
feat = pd.read_csv(os.path.join(prep_path,'feat_concat_raw.csv'))

In [25]:
feat.columns

Index(['Unnamed: 0', '구', '동', '계약년', '계약월', '강남여부', '신축여부',
       'cluster_dist_transport', 'cluster_dist_transport_count',
       'cluster_select', 'cluster_select_count', 'subway_station_area_count',
       'subway_direct_influence_count', 'subway_indirect_influence_count',
       'subway_shortest_distance', 'subway_zone_type',
       'bus_station_area_count', 'bus_direct_influence_count',
       'bus_indirect_influence_count', 'bus_shortest_distance',
       'bus_zone_type', '대장아파트_거리'],
      dtype='object')

In [27]:
feat.describe()

,Unnamed: 0,계약년,계약월,강남여부,신축여부,cluster_dist_transport,cluster_dist_transport_count,cluster_select,cluster_select_count,subway_station_area_count,subway_direct_influence_count,subway_indirect_influence_count,subway_shortest_distance,subway_zone_type,bus_station_area_count,bus_direct_influence_count,bus_indirect_influence_count,bus_shortest_distance,bus_zone_type,대장아파트_거리
count,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06,1.128094e+06
mean,5.640465e+05,2.014765e+03,6.322829e+00,3.688372e-01,5.225628e-03,2.776454e+02,3.315362e+03,9.393714e+02,2.473685e+04,8.234509e-02,8.451849e-01,8.027859e+00,5.156579e+02,2.343702e+00,5.168676e+00,2.911362e+01,2.307263e+02,1.068986e+02,1.106571e+00,2.759768e+00
std,3.256528e+05,4.237117e+00,3.306039e+00,4.824899e-01,7.209942e-02,2.030298e+02,4.038839e+03,7.963818e+02,5.777958e+04,3.090434e-01,9.510996e-01,4.312795e+00,2.671549e+02,6.358077e-01,3.756089e+00,1.256341e+01,7.323936e+01,6.973050e+01,3.085671e-01,2.103917e+00
min,0.000000e+00,2.007000e+03,1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,5.000000e+00,-1.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.010410e+01,0.000000e+00,0.000000e+00,2.000000e+00,2.500000e+01,3.795494e+00,1.000000e+00,1.945022e-02
25%,2.820232e+05,2.011000e+03,3.000000e+00,0.000000e+00,0.000000e+00,8.900000e+01,1.316000e+03,1.950000e+02,2.920000e+02,0.000000e+00,0.000000e+00,5.000000e+00,3.270146e+02,2.000000e+00,3.000000e+00,2.100000e+01,1.880000e+02,5.747620e+01,1.000000e+00,1.246191e+00
50%,5.640465e+05,2.015000e+03,6.000000e+00,0.000000e+00,0.000000e+00,2.470000e+02,2.079000e+03,8.020000e+02,5.080000e+02,0.000000e+00,1.000000e+00,7.000000e+00,4.596403e+02,2.000000e+00,5.000000e+00,2.800000e+01,2.170000e+02,9.004713e+01,1.000000e+00,2.248279e+00
75%,8.460698e+05,2.018000e+03,9.000000e+00,1.000000e+00,0.000000e+00,4.500000e+02,3.173000e+03,1.596000e+03,1.674000e+03,0.000000e+00,1.000000e+00,1.000000e+01,7.200174e+02,3.000000e+00,7.000000e+00,3.700000e+01,2.800000e+02,1.268251e+02,1.000000e+00,3.568976e+00
max,1.128093e+06,2.023000e+03,1.200000e+01,1.000000e+00,1.000000e+00,7.910000e+02,2.064500e+04,2.900000e+03,1.645360e+05,5.000000e+00,6.000000e+00,2.300000e+01,1.818801e+03,3.000000e+00,2.400000e+01,9.300000e+01,4.180000e+02,3.522098e+02,2.000000e+00,1.555893e+01

In [16]:
encoded.columns

Index(['k-건설사(시공사)', 'k-관리방식', 'k-난방방식', 'k-단지분류(아파트,주상복합등등)', 'k-복도유형',
       'k-사용검사일-사용승인일', 'k-세대타입(분양형태)', 'k-수정일자', 'k-시행사', '경비비관리형태',
       '관리비 업로드', '기타/의무/임대/임의=1/2/3/4', '단지승인일', '단지신청일', '도로명', '번지',
       '사용허가여부', '세대전기계약방법', '아파트명', '청소비관리형태', '강남여부', '신축여부', '구', '동',
       'cluster_dist_transport', 'cluster_dist_transport_count',
       'cluster_select', 'cluster_select_count', 'bus_direct_influence_count',
       'subway_zone_type', 'subway_station_area_count', 'bus_zone_type',
       'bus_indirect_influence_count', 'bus_station_area_count',
       'subway_indirect_influence_count', 'subway_direct_influence_count',
       'k-85㎡~135㎡이하', 'k-관리비부과면적', 'k-연면적', 'k-전용면적별세대현황(60㎡~85㎡이하)',
       'k-전용면적별세대현황(60㎡이하)', 'k-전체동수', 'k-전체세대수', 'k-주거전용면적', '건축년도', '건축면적',
       '계약일', '본번', '부번', '전용면적', '좌표X', '좌표Y', '주차대수', '층', '계약년', '계약월',
       'subway_shortest_distance', 'bus_shortest_distance', 'is_test',
       'target'],
      dtype='object')

In [14]:
scaled = pd.read_csv(path_scaled)

In [15]:
scaled.head()

,k-85㎡~135㎡이하,k-관리비부과면적,k-연면적,k-전용면적별세대현황(60㎡~85㎡이하),k-전용면적별세대현황(60㎡이하),k-전체동수,k-전체세대수,k-주거전용면적,건축년도,건축면적,...,bus_direct_influence_count,subway_zone_type,subway_station_area_count,bus_zone_type,bus_indirect_influence_count,bus_station_area_count,subway_indirect_influence_count,subway_direct_influence_count,target,is_test
0,-1.421189,-1.408835,-1.627235,0.011021,-1.361858,-0.036579,-1.266376,-1.337363,-1.0,-0.054029,...,16,3,0,1,150,5,7,0,124000.0,0
1,-1.421189,-1.408835,-1.627235,0.011021,-1.361858,-0.036579,-1.266376,-1.337363,-1.0,-0.054029,...,16,3,0,1,150,5,7,0,123500.0,0
2,-1.421189,-1.408835,-1.627235,0.011021,-1.361858,-0.036579,-1.266376,-1.337363,-1.0,-0.054029,...,16,3,0,1,150,5,7,0,91500.0,0
3,-1.421189,-1.408835,-1.627235,0.011021,-1.361858,-0.036579,-1.266376,-1.337363,-1.0,-0.054029,...,16,3,0,1,150,5,7,0,130000.0,0
4,-1.421189,-1.408835,-1.627235,0.011021,-1.361858,-0.036579,-1.266376,-1.337363,-1.0,-0.054029,...,16,3,0,1,150,5,7,0,117000.0,0

In [ ]:
from src.preprocessing import DataPrep

df_raw = pd.read_csv(os.path.join(prep_path, 'df_raw.csv'), index_col=0)

profile_df = DataPrep.get_data_profile(df_raw, 'raw')

In [1]:
concat.head()

NameError: name 'concat' is not defined

In [ ]:
dict_feat = {'feat_baseline': '',
            'feat_cluster': '', 
            'feat_transport': '', 
            'feat_gangnam_apt_dist': ''}

def load_feat(dict_feat, prep_path):
    for key, _ in dict_feat.items():
        df=pd.read_csv(os.path.join(prep_path,f'{key}.csv'))
        df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
        print(f'{len(df.columns)}', df.shape, df.columns)
        dict_feat[key] = df
    return dict_feat

In [ ]:
dict_feat = load_feat(dict_feat, prep_path)

6 (1128094, 6) Index(['구', '동', '계약년', '계약월', '강남여부', '신축여부'], dtype='object')
4 (1128094, 4) Index(['cluster_dist_transport', 'cluster_dist_transport_count',
       'cluster_select', 'cluster_select_count'],
      dtype='object')
10 (1128094, 10) Index(['subway_station_area_count', 'subway_direct_influence_count',
       'subway_indirect_influence_count', 'subway_shortest_distance',
       'subway_zone_type', 'bus_station_area_count',
       'bus_direct_influence_count', 'bus_indirect_influence_count',
       'bus_shortest_distance', 'bus_zone_type'],
      dtype='object')
1 (1128094, 1) Index(['대장아파트_거리'], dtype='object')

In [24]:
renamed_dfs = {key: df.add_prefix(f"") for key, df in dict_feat.items()}
df_feat = pd.concat(renamed_dfs.values(),axis=1)

In [25]:
df_feat.head()
df_feat.to_csv(os.path.join(prep_path, 'feat_concat_raw.csv'))